<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--support for  IE8 or IE9-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!--rwd-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <!--styles-->
      <link rel="stylesheet" href="/assets/master.css">  </head>

  </head>
  <body>

    <div class="container">
        <h1>Welcome DashBoard</h1>
        <p>Welcome user</p>
         <form class="" action="/logout" method="post">
               <button type="submit" name="button" class="btn">Log Out</button>
         </form>

  </div>
  </body>
</html>
